h2 {
    text-transform: none;
}

p {
    margin-top: 30px;
    text-align: center;
}

#link-rdv {
    text-decoration: none;
    color: var(--color-W);
}

#link-rdv:hover {
    text-decoration: none;
    color: var(--color-B4);
}